@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@300&family=Roboto:wght@300&display=swap');
:root{
    --COLOR-PRIMARY: #2c4462e0;
    --COLOR-SECONDARY: #D35152;
    --COLOR-TERTIRY: #fff;
    --COLOR-TERTIARY-200: #F2F2F2;
    --COLOR-TERTIARY-300: #aeaeaf46;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanuman', serif;;
}
